@charset "UTF-8";
@media  screen and (min-width: 480px) and (max-width: 1150px) {
 #divhabilidades{
  grid-template-columns: 2;
 
 }
 #html{
  grid-column: 1;
  grid-row: 1;
}
#css{
  grid-column: 2;
  grid-row: 1;
}
#js{
  grid-column: 1;
  grid-row: 2;
}
#react{
  grid-column: 2;
  grid-row: 2;
}
.skills{
  margin-bottom: 20px;
}
}
@media screen and (max-width: 1000px) {
  #morcego{
    display: none;
   } 
  #curriculo{
   display: none;
  }
  
  
}
@media screen and (max-width: 970px) {
  #morcego{
    display: none;
   } 
  #projetos{
    grid-template-columns: 1;
    align-items: center;
    justify-items: center;
  }
  
  #card1{
    grid-column: 1;
    grid-row: 1;
  }
  #card2{
    grid-column: 1;
    grid-row: 2;
  }
  #card3{
    grid-column: 1;
    grid-row: 3;
  }
  #card4{
    grid-column: 1;
    grid-row: 4;
  }
 
  
}
@media  screen and (max-width: 830px) {
    #perfil > p{
      display: none;
     
    }  
    #mainctt{
      display: grid;
      
      grid-template-rows: auto auto auto;
      grid-template-columns: 1fr;
      height: auto;
    }
    #ctt{
      grid-column: 1;
      grid-row: 1;

    }
    #ctt2{
      grid-column: 1;
      grid-row: 2;
    }
    #curriculo{
      grid-column: 1;
      grid-row: 3;
    }
}
@media  screen and (max-width: 660px) {
    #perfil > #imgperfil{
      display: none;
     
    }  
}
@media  screen and (max-width: 580px) {
  #home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100vw;
    padding: 10px;
  }
  #home > li > a >img{
    
  }
  #home > li {
    padding: 0;
     
    } 
  #mainpj{
    padding: 0;
  }   
    #divhabilidades{
      grid-template-columns: 1;
     
     }
     #html{
      grid-column: 1;
      grid-row: 1;
    }
    #css{
      grid-column: 1;
      grid-row: 2;
    }
    #js{
      grid-column: 1;
      grid-row: 3;
    }
    #react{
      grid-column: 1;
      grid-row: 4;
    }
    .skills{
      margin-bottom: 20px;
    }
}
@media  screen and (max-width: 500px) {
  
 
}