@charset "UTF-8";
@media  screen and (min-width: 900px) and (max-width: 1150px) {
    
}
@media  screen and (max-width: 800px) {
    #perfil > p{
      display: none;
     
    }  
}
@media  screen and (max-width: 660px) {
    #perfil > #imgperfil{
      display: none;
     
    }  
}
@media  screen and (max-width: 570px) {
  #home > li {
    padding: 10px 10px 10px px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   }  
  #home > li > a{
     font-size: 25px;
     
    }  
 
}