@charset "UTF-8";
@media  screen and (min-width: 900px) and (max-width: 1150px) {
    
}
@media  screen and (max-width: 800px) {
    #perfil > p{
      display: none;
     
    }  
}
@media  screen and (max-width: 660px) {
    #perfil > #imgperfil{
      display: none;
     
    }  
}
@media  screen and (max-width: 580px) {
  #header{
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  #home > li {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   }  
  #home > li > a{
     font-size: 10px;
     
    }  
 
}